{% extends 'base.html' %}

{% block content %}
{% if args.products|length > 0 %}
<div class="box p-3">
	{% for instance in args.products %}
	<h4 class="h4 m-2 d-inline-block">{{instance.name}}</h4>
	<form method="post" class="float-right">
		<input type="hidden" name="productId" value="{{instance.id}}">
		<input type="submit" name="submit" value="+" class="btn m-2 d-md-inline-block">
		<p class="d-md-inline-block">{{instance.amount}}</p>
		<input type="submit" name="submit" value="-" class="btn m-2 d-md-inline-block">
	</form>
	<p class="float-right m-3">{{instance.price * instance.amount}} kr</p>
	<hr>
	{% endfor %}
	<h4 class="h4 m-2 d-inline-block">Total</h4>
	<p class="float-right m-3">{{args.price}} kr</p>

</div>

<div>
	<form method="post">
		<input type="submit" name="submit" value="Order" class="btn btn-primary m-2">
		<input type="submit" name="submit" value="Delete" class="btn btn-warning m-2">
	</form>
</div>
{% else %}
<h2>Your cart is empty. Buy stuff you capitalist pig!</h2>
{% endif %}

{% endblock %}