body {
	background-color: GhostWhite;
}

h1 {
  color: MediumSeaGreen;
  margin-left: 620px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

h2 {
	margin-left: 750px;
	margin-top: 50px;
}

h3 {
	margin-left: 800px:
}

h5 {
    margin-left: 745px;
    margin-top:	 20px;
}

p  {
	margin-left: 700px;
}

#foot {

	display: flex; 
	flex-direction: row; 
	position: absolute;
	bottom: 0;
}